{% load django_htmx %}

<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="style.css">
	<title>{% block title %}Polls{% endblock %}</title>
	{% htmx_script %}
</head>

<body hx-headers='{"x-csrftoken": "{{ csrf_token }}"}'>
	<nav>
		<div hx-boost="true" hx-target="#content">
			<a href="{% url 'polls_web:index' %}">Home</a>
		</div>
		{% if user.is_authenticated %}
		<a href="{% url 'polls_web:new' %}">New Poll</a>
		<form method="post" action="{% url 'polls_web:logout' %}">
			{% csrf_token %}
			<button type="submit">Log out</button>
		</form>
		{% else %}
		<a href="{% url 'polls_web:login' %}">Log in</a>
		{% endif %}
	</nav>

	<div id="content">
		{% block content %}{% endblock %}
	</div>
</body>
</html>