{% extends "polls_web/base.html" %}

{% partialdef content %}
{% if latest_questions %}
	<h1>Latest Polls</h1>

	<table>
	<thead>
		<th>Poll</th>
		<th>Owner</th>
		<th>Published</th>
		<th>Expires</th>
	</thead>
	<tbody hx-boost="true" hx-target="#content">
	{% for question in latest_questions %}
		<tr>
			<td><a href="{% url 'polls_web:detail' question.pk %}">{{ question.question_text }}</a></td>
			<td>{{ question.owner }}</td>
			<td>{{ question.pub_date }}</td>
			<td>{% if question.exp_date %}{{ question.exp_date }}{% else %}never{% endif %}</td>
		</tr>
	{% endfor %}
	</tbody>
	</table>
{% else %}
	<p>No recent polls.</p>
{% endif %}
{% endpartialdef %}

{% block content %}
{% partial content %}
{% endblock %}